<div class="flex-container">
    <div class="flex-child magenta">
                <div class="input" id="basic-addon1">
                    <div>ID : <input type="text" id = "id" #idRef/></div>
                    <div>Name : <input type="text" id = "name" #nameRef></div>
                    <div>Task : <input type="text" id = "task" #taskRef></div>
                    <div>Deadline : <input type="text" id = "deadline" #deadlineRef></div>
                </div>
    
        <input type="submit" class="btn btn-outline-success" value="Add Task" 
        (click)="addTask(idRef.value, nameRef.value, taskRef.value, deadlineRef.value)"/><br/>
    </div>
    <div class="flex-child green">
        <table class = "table" border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Task</th>
                <th>Deadline</th>
            </tr>
          
            <tr *ngFor="let task of tasks">
                <td>{{task.ID}}</td>
                <td>{{task.name}}</td>
                <td>{{task.task}}</td>
                <td>{{task.deadline}}</td>
            </tr>
        </table>
    </div>
    <br/>
</div>