header{
  color:#5F9EA0;
  font-style: normal;
}
body{
  background-image: url('ACB_logo.jpg');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: 100px;
  color: #6495ED;
  font-style: normal;
  background-color: #FAEBD7;
  padding-left: 100px;
}
footer{
  position: relative;
  bottom: 0;
  width: 100%;
  font-style: oblique;
}
p{
  color: green;
  font-family: monospace;

}
div{
  color: darkblue;
}
