<div>
    <h2>
        Welcome, {{user}}
        <hr/>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    Name : <input type="text" #nameRef/>
                    Phone Number : <input type="text" #numRef>
                </span>
            </div>
        </div>
        <input type="button" class="btn btn-outline-success" value="Add Contact" 
        (click)="addContact(nameRef.value, numRef.value)"/><br/>
        <hr>
        <table class = "table" border="1">
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
            </tr>
          
            <tr *ngFor="let con of contacts">
                <td>{{con.name}}</td>
                <td>{{con.phone}}</td>
            </tr>
    </table>
    </h2>
</div>